html {
  height: 100%;
}
body {
  height: 100%;
  color: #333;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;
}
body,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  list-style: none;
}
button,
input,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
img {
  border: 0;
}
a {
  text-decoration: none;
}
.wrap {
  width: 10rem;
  margin: 0 auto;
  overflow: hidden;
}
.clearfix::before,
.clearfix::after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}