html,
body,
#container
{
    height: 100%;
}
#container
{
    position: relative;

    overflow: hidden;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding: 0 .5rem;

    background: url(../images/bg.jpg);
}
*
{
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;
}
#loading
{
    position: absolute;
    z-index: 10001;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: #69cefb;
}
#loading img
{
    display: block;

    width: 4.693rem;
    margin: 2.346rem auto 0;
}
#loading h1
{
    font-size: .347rem;
    font-weight: normal;
    line-height: .8rem;

    margin-bottom: .6rem;

    text-align: center;

    color: #fff;
}
#loading p
{
    font-size: .533rem;

    text-align: center;

    color: #fff;
}
#container .wrap
{
    position: relative;

    overflow: visible;

    width: 9rem;
    height: 100%;
}
.object-box
{
    position: absolute;
    top: 0;
    left: 0;
}
.object-init
{
    position: relative;
}
.game-item
{
    font-size: 30px;

    position: absolute;

    -webkit-transition: all .2s ease;
            transition: all .2s ease;
}
.game-item .game-el
{
    margin: 20px auto;

    border-radius: 50%;
}
.game-item .game-el img
{
    position: relative;
    top: 50%;

    display: block;

    width: 60%;
    margin: 0 auto;

    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}
.game-item.cube
{
    z-index: 99;

    text-align: center;
}
.game-item.cube .iconfont
{
    font-size: inherit;

    position: relative;
    top: 50%;

    display: block;

    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);

    color: #fff;
}
.game-item.point
{
    text-align: center;
}
.game-item.point .iconfont
{
    font-size: inherit;

    position: relative;
    top: 50%;

    display: block;

    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);

    color: #333;
}
.game-item.cube div
{
    position: absolute;
    top: 0;
    right: 0;

    display: none;

    width: 100%;
    height: 100%;

    background: url(../images/in_point.png) no-repeat right top;
}
.footer-tool
{
    position: absolute;
    bottom: 1.2rem;
    left: 0;

    width: 100%;
    height: 1.4rem;
}
.footer-tool li
{
    position: relative;
    z-index: 198;

    float: left;

    width: 33.33%;
    height: 1.4rem;
}
.footer-tool li.back
{
    background: url(../images/back.png) no-repeat center center/auto 60%;
}
.footer-tool li.reset
{
    background: url(../images/reset.png) no-repeat center center/auto 60%;
}
.footer-tool li.level
{
    background: url(../images/lists.png) no-repeat center center/auto 60%;
}
.footer-tool li.back-no
{
    background: url(../images/back_no.png) no-repeat center center/auto 60%;
}
.jnc-ad
{
    font-size: .56rem;
    font-style: italic;
    line-height: 1.2rem;

    position: absolute;
    z-index: 200;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 1.2rem;

    text-align: center;

    color: #fff;
    background: #428fd6;
}
.jnc-ad i
{
    position: absolute;
    right: .133rem;
    bottom: 0;

    display: block;

    width: .6rem;
    height: 100%;

    background: url(../images/close.png) no-repeat center center/contain;
}
.level-selector
{
    position: absolute;
    z-index: 199;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;
    overflow: hidden;

    background: url(../images/bg.jpg);
}
.level-selector .level-close
{
    position: absolute;
    top: .6rem;
    right: .6rem;

    display: block;

    width: .6rem;
    height: .6rem;

    background: url(../images/level_close.png) no-repeat center center/contain;
}
.level-selector p
{
    font-size: .64rem;
    font-weight: bold;
    line-height: 3.733rem;

    width: 100%;

    text-align: center;

    color: #666;
}
.level-selector > ul
{
    position: relative;
    left: 0;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 200%;
    height: 10.056rem;

    -webkit-transition: left .2s ease;
            transition: left .2s ease;
}
.level-selector > ul > li
{
    float: left;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 50%;
    padding: 0 1.667rem;
}
.level-selector > ul > li li
{
    font-size: .64rem;
    line-height: 1.447rem;

    position: relative;

    float: left;

    width: 1.447rem;
    margin-right: 1.1rem;
    margin-bottom: 1.067rem;

    text-align: center;

    color: #fff;
}
.level-selector > ul > li li:nth-child(3n)
{
    margin-right: 0;
}
.level-selector .level-top
{
    display: block;

    width: 100%;
    height: 100%;

    border-radius: 50%;
    background: #b8b8b8;
}
.level-selector .level-bottom
{
    position: absolute;
    z-index: -1;
    right: -2px;
    bottom: -2px;

    display: block;

    width: 100%;
    height: 100%;

    border-radius: 50%;
    background: #959598;
}
.level-selector .lock
{
    position: absolute;
    top: .09rem;
    left: 0;

    width: 100%;
    height: .32rem;

    background: url(../images/block.png) no-repeat center center/contain;
}
.level-selector .level-left
{
    position: absolute;
    z-index: 999;
    top: 7.733rem;
    left: .5rem;

    display: block;
    display: none;

    width: .667rem;
    height: 1.2rem;

    background: url(../images/prev.png) no-repeat center center/contain;
}
.level-selector .level-right
{
    position: absolute;
    z-index: 999;
    top: 7.733rem;
    right: .5rem;

    display: block;

    width: .667rem;
    height: 1.2rem;

    background: url(../images/next.png) no-repeat center center/contain;
}
.level-selector .unlock .level-top
{
    background: #69cefb;
}
.level-selector .unlock .level-bottom
{
    background: #53a8d0;
}
.level-selector .unlock .lock
{
    display: none;
}
.success-level
{
    position: absolute;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;

    background: rgba(0, 0, 0, .3);
}
.success-level .m-success
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 7.866rem;
    height: 4.934rem;
    margin-top: -2.467rem;
    margin-left: -3.933rem;

    border-radius: 5px;
    background: #fff;
}
.success-level .m-success .success-title
{
    font-size: .64rem;
    line-height: 1.066rem;

    position: relative;

    width: 5.334rem;
    height: 1.066rem;
    margin: 0 auto;
    margin-top: -.533rem;

    text-align: center;

    color: #fff;
    border-radius: 5px;
    background: #ff5150;
}
.success-level .m-success .success-tips
{
    font-size: .64rem;
    line-height: 1.733rem;

    width: 100%;

    text-align: center;

    color: #666;
}
.success-level .m-success .do-share
{
    float: left;

    width: 1.667rem;
    height: 2.667rem;
    margin-right: 1.667rem;
    margin-left: 1.42rem;
}
.success-level .m-success .do-share i
{
    display: block;

    width: 100%;
    height: 1.667rem;

    background: url(../images/icon_share.png) no-repeat center center/80% auto;
}
.success-level .m-success .do-next
{
    float: left;

    width: 1.667rem;
    height: 2.667rem;
}
.success-level .m-success .do-next i
{
    display: block;

    width: 100%;
    height: 1.667rem;

    background: url(../images/icon_next.png) no-repeat center center/80% auto;
}
.success-level .m-success p
{
    font-size: .53rem;

    width: 100%;

    text-align: center;

    color: #666;
}
.success-level .success-ad
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 2.6666rem;

    background: #428fd6;
}
.success-level .success-ad p
{
    line-height: 2.666rem;

    width: 100%;

    text-align: center;

    color: #fff;
}
